<script>
    var center_default = { lat: 37.559708, lng: 126.989298 }; 
    var hanyang = { lat: 37.555619, lng: 127.043655, zoom: 17 }; // index no.0
    var ars_amandi = { lat: 37.5577691, lng: 126.9255201, zoom: 17 }; // 1
    var hana_clang = { lat: 37.5562287, lng: 127.0470277, zoom: 17 }; // 2
    var hanyang_ground = { lat: 37.555407, lng: 127.047530, zoom: 17 }; // 3
    var insa_ssamzi = { lat: 37.5743957, lng: 126.9845675, zoom: 17 }; // 4
    var sinchon_uplex = { lat: 37.5558316, lng: 126.9354916, zoom: 17 }; // 5
    
    var infoWindow = ["<a href='/main/team_intro'>" +
                     "<img class='img-responsive' src='http://scontent.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11295585_455985867893193_6311888987607738688_n.jpg?oh=7d464d565f8fc74f6eb5e04ff3821a75&oe=5635E918' alt=''>"+
                  "</a>"+
                    "<h3> <a href='/main/team_intro'>Ars-Amandi <br>7번째 정기공연</a></h3><span class='label label-primary'> <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> 105</span>"+
                     "<strong><a href='/main/map'> 지도 찾기 </a></strong>"+
                     "<p>한양대학교 댄스동아리<br>"+
                     "Ars-Amandi 7번째 정기공연<br>"+
                     "<strong>홍대입구 나나극장 7PM</strong><br>"+
                     "</p>", 
                     
                     "<a href='/main/team_intro'>"+
                     "<img class='img-responsive' src='https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10698539_645404782242589_9113226226615624634_n.jpg?oh=af2dcbd7586f159c1e32f0a84be32491&oe=5680F6D1' alt=''>"+
                  "</a>"+
                     "<h3> <a href='/main/team_intro'>하나클랑 <br>신입생환영연주회</a></h3><span class='label label-primary'> <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> 80</span>"+
                     "<strong><a href='/main/map'> 지도 찾기 </a></strong>"+
                     "<p>한양대학교 오케스트라<br>"+
                     "하나클랑 신입생 환영 연주회<br>"+
                     "<strong>한양대 백남음악관 5PM</strong></p><br>",
                     
                    "<a href='#'>" +
                      "<img class='img-responsive' src='http://i.ytimg.com/vi/dy_fY2ezjio/maxresdefault.jpg' alt=''>" +
                  "</a>"+
                  "<h3>"+
                      "<a href='#'>HAHA족구리그 결승!</a>"+
                  "</h3>"+
                  "<span class='label label-primary'> <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> 27</span>"+
                  "<strong><a href='/main/map'> 지도 찾기 </a></strong>"+
                  "<p>3개월간의 족구리그<br>대단원의 막을 내린다!<br><strong>한양대학교족구장 3PM!</strong></p>",
                     
                     "<a href='#'>"+
                      "<img class='img-responsive' src='http://www.iecs.go.kr/upfile/images/schedule/schedule_254_0.jpg' alt=''>"+
                  "</a>"+
                  "<h3>"+
                      "<a href='#'>중앙대미대 12회 졸전!</a>"+
                  "</h3>"+
                  "<span class='label label-primary'> <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> 43</span>"+
                  "<strong><a href='/main/map'> 지도 찾기 </a></strong>"+
                  "<p>졸업전시회의끝<br>중앙대 미대 졸업전시회<br><strong>인사동 쌈지길 3층 4PM!</strong></p>", 
                     
                     "<a href='#'>"+
                      "<img class='img-responsive' src='http://ikac.kr/upload/201361019273%EB%8C%84%EC%8A%A4%EA%B2%BD%EC%97%B0%EB%8C%80%ED%9A%8C,%EC%8A%A4%ED%8A%B8%EB%A6%BF%EB%8C%84%EC%8A%A4%ED%8D%BC%ED%8F%AC%EB%A8%BC%EC%8A%A4%EA%B2%BD%EC%97%B0%EB%8C%80%ED%9A%8C,12.jpg' alt=''>"+
                  "</a>"+
                  "<h3>"+
                  "<a href='/main/team_intro'>DJ Marcia <br>댄서들의 재능기부</a></h3><span class='label label-primary'> <span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> 105</span>"+
                     "<strong><a href='/main/map'> 지도 찾기 </a></strong>"+
                     "<p>소울트레인<br>"+
                     "댄스 야외 거리공연<br>"+
                     "<strong>8/22(토) 7pm 신촌 유플렉스</strong><br>"+
                     "</p>", 
                     
                     ""]

    
</script>