<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <%= render :partial => 'main/navbar' %>
    <div class="margin" style="height: 80px; width: 100%"></div>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>뭐한대?! 는 소중규모 문화콘텐츠 플랫폼 입니다</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>혹시 집주변 3km내에, <br> 어떤 극장이 있는지 알고계세요? <br> 아니, 예술의전당 말고 알고계신 <br>"무대와 극장" 이 있나요?<br> 
마치 배달의민족 서비스처럼, <br> 현재위치에서 열리는 <br>다양한 모든 문화콘텐츠들의 정보가<br> 제공된다고 생각해 보세요. 
</p>
                </div>
                <div class="col-lg-5">
                    <p>골치아픈 홍보부터 공연 이력 관리, <br> 관객과의 소통까지 한번에 해결할 수 있습니다<br>

버스킹을 하면 어디다가 홍보를 하죠? <br> 대학생인 여러분은 동아리공연을 하면 <br> 어디다가 홍보를 하시나요? <br> 개인 sns뿐입니다. <br>
또한, 대학로 연극을 보러가도,<br> 불필요한 전단지와 호객행위만 넘칩니다. </p>
                </div>
                <br>
                <br> 
                <br>
                <div class="col-lg-12 text-center">
                    <h3>이제 걱정마세요! 뭐한대?! 가 해결하겠습니다</h3>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/" class="btn btn-lg btn-outline">
                        
                         뭐한대?! 시작하기
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/index/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/index/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/index/js/classie.js"></script>
    <script src="/index/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/index/js/jqBootstrapValidation.js"></script>
    <script src="/index/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/index/js/freelancer.js"></script>

</body>

</html>
