<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <%= render :partial => 'main/navbar' %>
    <div class="margin" style="height: 100px; width: 100%"></div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-9">
          <!-- Page Header -->
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">"공연"으로 모아보기
                   <small> 아마추어 동아리 </small>
                  </h1>
              </div>
          </div>
          <!-- /.row -->
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="/main/team_intro">
                     <img class="img-responsive" src="http://scontent.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11295585_455985867893193_6311888987607738688_n.jpg?oh=7d464d565f8fc74f6eb5e04ff3821a75&oe=5635E918" alt="">
                  </a>
                     <h3> <a href="/main/team_intro">Ars-Amandi <br>7번째 정기공연</a></h3><span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 105</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                     <p>한양대학교 댄스동아리<br>
                     Ars-Amandi 7번째 정기공연<br>
                     <strong>홍대입구 나나극장 7PM</strong><br>
                     </p>
                  
                  
                  
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="/main/team_intro">
                     <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10698539_645404782242589_9113226226615624634_n.jpg?oh=af2dcbd7586f159c1e32f0a84be32491&oe=5680F6D1" alt="">
                  </a>
                     <h3> <a href="/main/team_intro">하나클랑 <br>신입생환영연주회</a></h3><span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 80</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                     <p>한양대학교 오케스트라<br>
                     하나클랑 신입생 환영 연주회<br>
                     <strong>한양대 백남음악관 5PM</strong></p><br>
                  
                  
                  
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="/main/team_intro">
                     <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1375268_167343063462081_219557995_n.jpg?oh=e6c7d6bfbc9e2baa46b196b4cff1c616&oe=5637AFC4" alt="">
                  </a>
                     <h3> <a href="/main/team_intro">성균관대vs한양대 <br>농구대회 결승전</a></h3><span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 105</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                     <p>대학농구대회<br>
                     성균관대vs한양대 결승전<br>
                     <strong>성대 올림픽체육관 2PM</strong><br>
                     </p>
                  
                  
                  
              </div>
              
          </div>
          <!-- /.row -->
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://img.etoday.co.kr/pto_db/2012/05/20120517105226_199774_600_408.jpg" alt="">
                  </a>
                  <h3>
                      <a href="#">매월 정기 공연</a>
                  </h3>
                  <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 75</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                  <p>인디밴드 '푸푸앨라'<br>그대 열정 불태우리!<br><strong>홍대 8번출구 소극장! 8PM!</strong></p>
              </div>
              
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://blogimg.hani.co.kr/editor/uploads/2008/11/05/99970_62496.jpg_M500.jpg" alt="">
                  </a>
                  <h3>
                      <a href="#">광복절 특별 공연</a>
                  </h3>
                  <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 17</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                  <p>'홍대여신' <br> 요조가 돌아왔다!<br> <strong>이태원 병주소극장 9PM</strong></p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://cfile7.uf.tistory.com/image/0155CD4E516A8A131C0D69" alt="">
                  </a>
                  <h3>
                      <a href="#">중앙대 비트메이커</a>
                  </h3>
                  <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 76</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                  <p>중앙대 흑인음악동아리<br> 비트메이커! <br><strong> 중앙대학교 정문 8PM!</strong></p>
              </div>
          </div>
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://i.ytimg.com/vi/dy_fY2ezjio/maxresdefault.jpg" alt="">
                  </a>
                  <h3>
                      <a href="#">HAHA족구리그 결승!</a>
                  </h3>
                  <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 27</span>
                  <strong><a href="/main/map"> 지도 찾기 </a></strong>
                  <p>3개월간의 족구리그<br>대단원의 막을 내린다!<br><strong>한양대학교족구장 3PM!</strong></p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://www.iecs.go.kr/upfile/images/schedule/schedule_254_0.jpg" alt="">
                  </a>
                  <h3>
                      <a href="#">중앙대미대 12회 졸전!</a>
                  </h3>
                  <span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 43</span>
                  <strong><a href="/main/map"> 지도 찾기 </a></strong>
                  <p>졸업전시회의끝<br>중앙대 미대 졸업전시회<br><strong>인사동 쌈지길 3층 4PM!</strong></p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://ikac.kr/upload/201361019273%EB%8C%84%EC%8A%A4%EA%B2%BD%EC%97%B0%EB%8C%80%ED%9A%8C,%EC%8A%A4%ED%8A%B8%EB%A6%BF%EB%8C%84%EC%8A%A4%ED%8D%BC%ED%8F%AC%EB%A8%BC%EC%8A%A4%EA%B2%BD%EC%97%B0%EB%8C%80%ED%9A%8C,12.jpg" alt="">
                  </a>
                  <h3>
                  <a href="/main/team_intro">DJ Marcia <br>댄서들의 재능기부</a></h3><span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 105</span>
                     <strong><a href="/main/map"> 지도 찾기 </a></strong>
                     <p>소울트레인<br>
                     댄스 야외 거리공연<br>
                     <strong>8/22(토) 7pm 신촌 유플렉스</strong><br>
                     </p>
              </div>
          </div>
          <!-- /.row -->
  
          <hr>
  
          <!-- Pagination -->
          <div class="row text-center">
              <div class="col-lg-12">
                  <ul class="pagination">
                      <li>
                          <a href="#">&laquo;</a>
                      </li>
                      <li class="active">
                          <a href="#">1</a>
                      </li>
                      <li>
                          <a href="#">2</a>
                      </li>
                      <li>
                          <a href="#">3</a>
                      </li>
                      <li>
                          <a href="#">4</a>
                      </li>
                      <li>
                          <a href="#">5</a>
                      </li>
                      <li>
                          <a href="#">&raquo;</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /.row -->
          </div>
          <!-- Side Menu -->
          <div class="col-lg-3">
            <div class="margin" style="height: 50px"></div>
            <p class="lead">공연 카테고리</p>
              <div class="list-group">
                  <a href="#" class="list-group-item">뮤지컬</a>
                  <a href="#" class="list-group-item">연극</a>
                  <a href="#" class="list-group-item">콘서트</a>
                  <a href="#" class="list-group-item">클래식 무용</a>
                  <a href="#" class="list-group-item">전시</a>
                  <a href="#" class="list-group-item">스포츠</a>
                  <a href="#" class="list-group-item">버스킹</a>
                  <a href="#" class="list-group-item">아마추어 동아리</a>
                                    <a href="#" class="list-group-item">기타</a>
              </div>
          </div>
          <!-- /.Side Menu -->
        </div>
        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/index/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/index/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/index/js/classie.js"></script>
    <script src="/index/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/index/js/jqBootstrapValidation.js"></script>
    <script src="/index/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/index/js/freelancer.js"></script>

</body>

</html>
