<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <%= render :partial => 'main/navbar' %>
    <div class="margin" style="height: 80px; width: 100%"></div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-lg-9">
          <!-- Page Header -->
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Performance Team List
                      <small>Dance</small>
                  </h1>
              </div>
          </div>
          <!-- /.row -->
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="/main/temp_team_intro">
                      <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11121320_454413921383721_586901423618389420_o.jpg" alt="">
                  </a>
                  <h3>
                      <a href="/main/temp_team_intro">Ars-Amandi</a></a>
                  </h3>
                  <p>한양대학교 댄스동아리</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              
          </div>
          <!-- /.row -->
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
  
          <!-- Projects Row -->
          <div class="row">
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
              <div class="col-md-4 portfolio-item">
                  <a href="#">
                      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                  </a>
                  <h3>
                      <a href="#">Project Name</a>
                  </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
          </div>
          <!-- /.row -->
  
          <hr>
  
          <!-- Pagination -->
          <div class="row text-center">
              <div class="col-lg-12">
                  <ul class="pagination">
                      <li>
                          <a href="#">&laquo;</a>
                      </li>
                      <li class="active">
                          <a href="#">1</a>
                      </li>
                      <li>
                          <a href="#">2</a>
                      </li>
                      <li>
                          <a href="#">3</a>
                      </li>
                      <li>
                          <a href="#">4</a>
                      </li>
                      <li>
                          <a href="#">5</a>
                      </li>
                      <li>
                          <a href="#">&raquo;</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /.row -->
          </div>
          <!-- Side Menu -->
          <div class="col-lg-3">
            <div class="margin" style="height: 50px"></div>
            <p class="lead">Shop Name</p>
              <div class="list-group">
                  <a href="#" class="list-group-item">Category 1</a>
                  <a href="#" class="list-group-item">Category 2</a>
                  <a href="#" class="list-group-item">Category 3</a>
                  <a href="#" class="list-group-item">Category 4</a>
                  <a href="#" class="list-group-item">Category 5</a>
                  <a href="#" class="list-group-item">Category 6</a>
                  <a href="#" class="list-group-item">Category 7</a>
              </div>
          </div>
          <!-- /.Side Menu -->
        </div>
        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/index/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/index/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/index/js/classie.js"></script>
    <script src="/index/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/index/js/jqBootstrapValidation.js"></script>
    <script src="/index/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/index/js/freelancer.js"></script>

</body>

</html>
