<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <%= render :partial => 'main/navbar' %>
    <div class="margin" style="height: 80px; width: 100%"></div>
    <!-- Page Content -->
    <div class="container">
        
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-4">
                <h1 class="page-header">팀 소개
                    <small>Ars-Amandi</small>
                </h1>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7">
                <h1 class="page-header">공연정보</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-4">
                <img class="img-responsive team-picture" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10592988_348048075353640_5342715751834041160_n.jpg?oh=955d956296b6973b45d777bd9f390c7a&oe=5637E9FA&__gda__=1451386434_ae48b471443e40adbd1326c64e8581b8" alt="">
                <div class="row">
                    <h2 style="display: inline">Ars-Amandi&nbsp;&nbsp;</h2>
                    <h4 style="display: inline"><span class="label label-primary"> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 105</span></h4>
                    
                    <p>한양대학교 댄스동아리</p><br>
                    <h4>주요 공연장소</h3>
                    <p>한양대학교 노천극장</p>
                    
                </div>
            </div>
            
            <div class="col-md-1"></div>
            
            <div class="col-md-7">
               
                <!-- 공연정보 요약 1-->
                <div style="margin: 10px 5px 10px 5px">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#">
                                <img class="img-responsive" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11329872_457895047702275_4921358441028578671_n.jpg?oh=e8d0d9f51d536740950e99a587e53df6&oe=566F88F5&__gda__=1446870723_b311143b1bd6e1a6016d3032058d5d27" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>알스아망디 정기공연</h4><br>
                            <h5>장소</h5>
                            <p class="performance-summation"> 한양대학교 학생회관 4층 콘서트홀</p>
                            <h5>일시</h5>
                            <p class="performance-summation"> 2015.9.20(토) PM 7:00~</p>
                        </div>    
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
                <!-- 공연정보 요약 끝 -->
                <!-- 공연정보 요약2 -->
                <div style="margin: 10px 5px 10px 5px">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#">
                                <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11351263_461858050639308_5819339919035226487_n.jpg?oh=bc0530dc30e1506aaed765e4c6c3e930&oe=563B71A1" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>광주하계유니버시아드대회 성화 축하공연</h4><br>
                            <h5>장소</h5>
                            <p class="performance-summation"> 신본관앞</p>
                            <h5>일시</h5>
                            <p class="performance-summation"> 2015.8.19(목) AM 10:30~</p>
                        </div>    
                        <div class="col-md-3">
                            <span class="label label-danger">NOW</span>
                        </div>
                    </div>
                </div>
                <!-- 공연정보 요약 끝 -->
                <!-- 공연정보 요약 3-->
                <div style="margin: 10px 5px 10px 5px">
                    <div class="row">
                        <div class="col-md-4">
                            
                                <img class="img-responsive" src="https://scontent.xx.fbcdn.net/hphotos-xpf1/t31.0-8/s960x960/11057352_485949841563462_6108293829349114520_o.jpg">
                        </div>
                        <div class="col-md-5">
                            <h4>Battle.A</h4><br>
                            <h5>장소</h5>
                            <p class="performance-summation"> 한양대학교 학생회관 4층 콘서트홀</p>
                            <h5>일시</h5>
                            <p class="performance-summation"> 2015.8.8(토) 3:00pm~</p>
                        </div>    
                        <div class="col-md-3">
                            <a class="btn btn-primary" href="https://www.youtube.com/watch?v=tEUCNH_w-PY&list=PLN-jG6eVVfBKEUemShZ69s7dLhrvrnWAJ">View <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <!-- 공연정보 요약 끝 -->
                
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">PHOTO</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://scontent.xx.fbcdn.net/hphotos-xfa1/t31.0-8/11816180_487626394729140_1082013847008046996_o.jpg" alt="">
                    <h3>Battle.A</h3>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/11169951_447671105391336_5043580521165347514_n.jpg?oh=b7058c1366d7e4b407ab85abacc1bf20&oe=563C7D4B&__gda__=1450877007_fa2f569cf7b1c28fa22d24965853ddef" alt="">
                    <h3>15.05.02 MT</h3>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://scontent.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/10653454_436251236533323_3694434468605303198_n.jpg?oh=b27e4b6a6189b651c89dba1f46b1b818&oe=5682A8AB" alt="">
                    <h3>UDC개강공연</h3>
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10553633_426654900826290_3915311751966462862_n.jpg?oh=5592278571b3b1be045bfd23420805fc&oe=5674814A" alt="">
                     <h3>동방배틀 Vol.5</h3>
                </a>
            </div>

        </div>
        <!-- /.row -->
        
    <div class="margin" style="height: 100px; width: 100%"></div>
    
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/index/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/index/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/index/js/classie.js"></script>
    <script src="/index/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/index/js/jqBootstrapValidation.js"></script>
    <script src="/index/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/index/js/freelancer.js"></script>

</body>

</html>
